3razred/Mikroupravljaci/APP/arduino-1.8.19-windows[[:space:]](1).exe filter=lfs diff=lfs merge=lfs -text
3razred/Dijagnostika[[:space:]]i[[:space:]]odrzavanje[[:space:]]informacijskih[[:space:]]sustava/APP/PacketTracer800_Build212_64bit_setup-signed.exe filter=lfs diff=lfs merge=lfs -text
3razred/Multimedija/APPL/blender-4.2.1-windows-x64.msi filter=lfs diff=lfs merge=lfs -text
3razred/Operacijski[[:space:]]sustavi/OSAppl/VirtualBox-5.2.18-124319-Win.exe filter=lfs diff=lfs merge=lfs -text
3razred/Operacijski[[:space:]]sustavi/Dodatni[[:space:]]Materijali/Virtual[[:space:]]USB/VirtualBox-5.1.6-110634-Win.exe filter=lfs diff=lfs merge=lfs -text
Lab6_Share/CiscoPacketTracer822_64bit_setup_signed.exe filter=lfs diff=lfs merge=lfs -text
Lab6_Share/SJIWP/xampp-windows-x64-8.0.30-0-VS16-installer.exe filter=lfs diff=lfs merge=lfs -text
1razred/Racunalstvo/OpenShot-v3.3.0-x86_64.exe filter=lfs diff=lfs merge=lfs -text
4razred/Ugradbeni[[:space:]]racunalni[[:space:]]sustavi/URS[[:space:]]APPL/arduino-1.8.19-windows.exe filter=lfs diff=lfs merge=lfs -text
4razred/Sigurnost[[:space:]]informacijskih[[:space:]]sustava/APPL/tb_free.exe filter=lfs diff=lfs merge=lfs -text
2razred/Uvod-u-racunalne-mreze/APP/CiscoPacketTracer822_64bit_setup_signed.exe filter=lfs diff=lfs merge=lfs -text
2razred/Prakticne-osnove-racunalstva/APP/VMware-workstation-full-17.6.4-24832109.exe filter=lfs diff=lfs merge=lfs -text
